{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Django Tailwind</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>

	<body class="bg-white font-sans leading-normal tracking-normal">
		<!-- Container -->
		<div class="container mx-auto">
			<div class="flex justify-center px-6 my-12">
				<!-- Row -->
				<div class="w-full xl:w-full lg:w-11/12 flex justify-center">
					<!-- Col -->
					<div class="justify-center">
            {% if image != None %}
            <img src="data:image/png;base64,{{image}}" class="max-w-full h-auto block w-full p-1 bg-white border rounded max-w-sm"/>
            {% else %}
            <img src="{% static 'images/initial.jpeg' %}" class="max-w-full h-auto block w-full p-1 bg-white border rounded max-w-sm"/>
            {% endif %}
          </div>
				</div>
			</div>       
    </div>
    <div class="container mx-auto">
			<div class="flex justify-center px-6 my-12">
				<!-- Row -->
				<div class="w-full xl:w-3/4 lg:w-11/12 flex">
          <!-- Col -->
					<div class="w-full lg:w-full bg-white p-5 rounded-lg lg:rounded-l-none">
						<form class="px-8 pt-6 pb-8 mb-4 bg-white rounded" method="post" action="/">
              {% csrf_token %}
              <div class="form-check">
                <label class="form-check-label inline-block text-gray-800" for="flexCheckChecked">
                  Digrafo?  -> 
                </label>
                {{form.digrafo}}
              </div>
              <div class="mb-4">
                <label class="block mb-2 text-sm font-bold text-gray-700">
                  Insira o Grafo
                </label>
                {{form.grafo_text}}
                <button type="submit" class="w-full px-4 py-2 font-bold text-white bg-blue-500 rounded-full hover:bg-blue-700 focus:outline-none focus:shadow-outline"
                  type="button" >
                  Criar Grafo
                </button>
              </div>
					    <div class="w-full mt-3 lg:w-full flex items-center justify-center bg-white rounded-lg lg:rounded-l-none">
                <div class="text-center flex-grow mx-2">
                  <button class="w-full px-4 py-2 font-bold text-white bg-blue-500 rounded-full hover:bg-blue-700 focus:outline-none focus:shadow-outline"
                    type="button" >
                    R1
                  </button>
                </div>
                <div class="m-ytext-center flex-grow mx-2">
                  <button class="w-full px-4 py-2 font-bold text-white bg-blue-500 rounded-full hover:bg-blue-700 focus:outline-none focus:shadow-outline"
                    type="button" >
                    R2
                  </button>
                </div>
                <div class="m-ytext-center flex-grow mx-2">
                  <button class="w-full px-4 py-2 font-bold text-white bg-blue-500 rounded-full hover:bg-blue-700 focus:outline-none focus:shadow-outline"
                    type="button" >
                    R3
                  </button>
                </div>
                <div class="m-ytext-center flex-grow mx-2">
                  <button class="w-full px-4 py-2 font-bold text-white bg-blue-500 rounded-full hover:bg-blue-700 focus:outline-none focus:shadow-outline"
                    type="button" >
                    R4
                  </button>
                </div>
              </div>
              <div class="w-full mt-3 lg:w-full flex items-center justify-center bg-white rounded-lg lg:rounded-l-none">
                <div class="text-center flex-grow mx-2">
                  <button class="w-full px-4 py-2 font-bold text-white bg-blue-500 rounded-full hover:bg-blue-700 focus:outline-none focus:shadow-outline"
                    type="button" >
                    R1
                  </button>
                </div>
                <div class="m-ytext-center flex-grow mx-2">
                  <button class="w-full px-4 py-2 font-bold text-white bg-blue-500 rounded-full hover:bg-blue-700 focus:outline-none focus:shadow-outline"
                    type="button" >
                    R2
                  </button>
                </div>
                <div class="m-ytext-center flex-grow mx-2">
                  <button class="w-full px-4 py-2 font-bold text-white bg-blue-500 rounded-full hover:bg-blue-700 focus:outline-none focus:shadow-outline"
                    type="button" >
                    R3
                  </button>
                </div>
                <div class="m-ytext-center flex-grow mx-2">
                  <button class="w-full px-4 py-2 font-bold text-white bg-blue-500 rounded-full hover:bg-blue-700 focus:outline-none focus:shadow-outline"
                    type="button" >
                    R4
                  </button>
                </div>
              </div>
            </form>
					</div>
				</div>
			</div>
       
    </div>    
	</body>
</html>
